<div class="caja">
    <div class="caja2">
    <ul>
        <li>
            <a href="https://twitter.com/fresalollipop">
            <i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://instagram.com/domepelaezr">
            <i class="fab fa-instagram"></i></a>
        </li>
        <li>
            <a href="https://www.pinterest.com/domenicapelaez3/">
            <i class="fab fa-pinterest"></i></a>
        </li>
    </ul>
    </div>
    <div class="caja3">
        <p class="res">© {{ anio }} - All rights reserved</p>
        <p class="made">Made by Doménica Peláez</p>
    </div>
</div>