<div class="contenedor">
    <div class="titulo">
      <h1>Información de contacto</h1>
    </div>
    
    <div class="caja">
      <div class="caja2">
        <div class="icon">
          <i class="fas fa-mobile-alt"></i>
        </div>
        <div class="info">
          <h1>Telefono</h1>
          <h2>+34 669 62 44 38</h2>
        </div>
        </div>

      <div class="caja2">
        <div class="icon">
          <i class="far fa-envelope"></i>
        </div>
        <div class="info">
          <h1>Email</h1>
          <h2>domenicapelaez3@gmail.com</h2>
        </div>
      </div>

      <div class="caja2">
        <div class="icon">
          <i class="fas fa-edit"></i>
        </div>
        <div class="info">
          <h1>¿Alguna duda?</h1>
          <a href="#" class="btn">Consultar</a>
        </div>
      </div>
    </div>
    </div>