<h1>Mis Servicios</h1>
<div id="contenido">
    <div class="caja">
        <div class="card">
          <div class="imagen" routerLinkActive="active"
          routerLink = "ionic">
              <img src="assets/img/servicios/ionic.png" alt="images">
          </div>
          <div class="titulo">
              <h2>Ionic</h2>
          </div>
        </div>
      
    <div class="card">
           <div class="imagen" routerLinkActive="active"
           routerLink = "photoshop">
             <img src="assets/img/servicios/ps.png" alt="images">
           </div>
           <div class="titulo">
              <h2>Photoshop</h2>
            </div>
         </div>
</div>
  