<h1 class="titulo">Sobre Mi</h1>
<div class="caja">
    <div class="caja2">	
        <img src="https://i.ibb.co/Bn4Wf6W/dome3.png" alt="">
    </div>
    <div class="caja3">
	<h1>Mi nombre es Doménica Peláez.</h1>
    <h2>Tengo 25 años, graduada como Técnica en Administración de Sistemas Infromáticos en Red(ASIR), en el I.E.S Cura Valera. Tengo conocimientos en Angular, Python, automatización en contenedores de Docker.</h2>
    <p>Me considero una persona responsable y muy profesional. Estoy en constante aprendizaje con el avance de la informática.</p>
    <div>
</div>